<div *ngIf="realtimeData">
  <span class="label label-primary">Temperature: {{realtimeData.temperature}} &#x2103;</span>
  <span class="label label-success">Humidity: {{realtimeData.humidity}}%</span>
  <span class="label label-warning">Core Temperature: {{realtimeData.core_temperature}} &#x2103;</span>
  <span class="label label-default">Device Time: {{realtimeData.device_time}}</span>
  <br><br>
</div>
<div class="form-group">
  <select style="width: 150px;" class="form-control"
          [ngModel]="selectedPeriod"
          (ngModelChange)="onSelectedPeriodChange($event)"
          name="selectedPeriod">
    <option [value]="p" *ngFor="let p of chartPeriods">{{p}}</option>
  </select>
</div>
<div class="row">
  <div class="col-md-6">
    <div style="display: block;">
      <canvas baseChart width="600" height="400"
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [colors]="lineChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
      </canvas>
    </div>
  </div>
</div>
